diffusers==0.35.1
outlines_core==0.1.26
diskcache==5.6.3
rich-toolkit==0.17.1
fasteners==0.20
filelock==3.20.0
propcache==0.4.1
safetensors==0.7.0
smmap==5.0.2
av==16.0.1
pyzmq==27.1.0
h11==0.16.0
cycler==0.12.1
asciitree==0.3.3
kiwisolver==1.4.9
httptools==0.7.1
transformers==4.51.3
opencv-python-headless==4.11.0.86
scipy==1.15.3
nvidia-cufile-cu12==1.13.0.11
proglog==0.1.12
contourpy==1.3.2
zarr==2.18.3
matplotlib==3.10.8
fsspec==2025.12.0
msgspec==0.20.0
braceexpand==0.1.7
packaging==25.0
shapely==2.1.2
lmdb==1.7.5
jsonschema-specifications==2025.9.1
nvidia-nccl-cu12==2.26.2
torchaudio==2.7.0
einops==0.8.1
nvidia-cusparselt-cu12==0.6.3
nvidia-nvtx-cu12==12.8.55
scikit-image==0.25.2
flash_attn==2.8.3
ninja==1.13.0
interegular==0.3.3
nest-asyncio==1.6.0
xformers==0.0.30
pycountry==24.6.1
python-json-logger==4.0.0
parso==0.8.5
starlette==0.50.0
gguf==0.17.1
setuptools==80.9.0
python-multipart==0.0.21
llguidance==0.7.30
astor==0.8.1
compressed-tensors==0.10.2
markdown-it-py==4.0.0
psutil==7.2.1
requests==2.32.5
jsonschema==4.25.1
click==8.3.1
pillow==11.3.0
sentry-sdk==2.48.0
exceptiongroup==1.3.1
distro==1.9.0
platformdirs==4.5.1
anyio==4.12.0
frozenlist==1.8.0
timm==1.0.15
hf-xet==1.2.0
tokenizers==0.21.4
hjson==3.1.0
shellingham==1.5.4
regex==2025.11.3
dill==0.4.0
nvidia-cudnn-cu12==9.7.1.26
tifffile==2025.5.10
zipp==3.23.0
pydantic-extra-types==2.11.0
lazy_loader==0.4
torch==2.7.1+cu128
rignore==0.7.6
ray==2.53.0
imagecodecs==2025.3.30
protobuf==6.33.2
depyf==0.18.0
partial-json-parser==0.2.1.1.post7
lm-format-enforcer==0.10.12
mdurl==0.1.2
httpx==0.28.1
prometheus-fastapi-instrumentator==7.1.0
annotated-doc==0.0.4
attrs==25.4.0
webdataset==1.0.2
moviepy==2.2.1
yarl==1.22.0
httpcore==1.0.9
jedi==0.19.2
llvmlite==0.44.0
prometheus_client==0.23.1
triton==3.3.1
python-dotenv==1.2.1
opencv-python==4.11.0.86
bitsandbytes==0.46.1
typer==0.21.0
lark==1.2.2
multidict==6.7.0
fastapi==0.128.0
wheel==0.45.1
cachetools==6.2.4
nvidia-cusparse-cu12==12.5.7.53
networkx==3.4.2
vllm==0.9.2
async-timeout==5.0.1
typing-inspection==0.4.2
rich==14.2.0
decorator==5.2.1
imgaug==0.4.0
nvidia-cufft-cu12==11.3.3.41
cupy-cuda12x==13.6.0
pydantic==2.12.5
nvidia-curand-cu12==10.3.9.55
xgrammar==0.1.19
python-dateutil==2.9.0.post0
aiohttp==3.13.3
scikit-learn==1.7.2
absl-py==2.1.0
Pygments==2.19.2
email-validator==2.3.0
nvidia-cuda-cupti-cu12==12.8.57
pydantic-settings==2.12.0
nvidia-cusolver-cu12==11.7.2.55
numpy==1.26.4
joblib==1.5.3
openai==1.90.0
uvloop==0.22.1
referencing==0.37.0
dnspython==2.8.0
six==1.17.0
mistral_common==1.8.8
nvidia-cublas-cu12==12.8.3.14
airportsdata==20250909
nvidia-cuda-runtime-cu12==12.8.57
accelerate==1.8.1
pybase64==1.4.3
annotated-types==0.7.0
watchfiles==1.1.1
imageio-ffmpeg==0.6.0
threadpoolctl==3.6.0
urllib3==2.6.2
numba==0.61.2
Jinja2==3.1.6
sniffio==1.3.1
certifi==2026.1.4
pip==25.3
uvicorn==0.40.0
GitPython==3.1.46
sentencepiece==0.2.1
aiohappyeyeballs==2.6.1
wandb==0.23.1
msgpack==1.1.2
fastapi-cli==0.0.20
pyparsing==3.3.1
blake3==1.0.8
fastar==0.8.0
fonttools==4.61.1
antlr4-python3-runtime==4.9.3
nvidia-nvjitlink-cu12==12.8.61
omegaconf==2.3.0
fastapi-cloud-cli==0.8.0
cloudpickle==3.1.2
outlines==0.1.11
tiktoken==0.12.0
tomli==2.3.0
nvidia-cuda-nvrtc-cu12==12.8.61
tqdm==4.67.1
fastrlock==0.8.3
aiosignal==1.4.0
pydantic_core==2.41.5
mpmath==1.3.0
PyYAML==6.0.3
numcodecs==0.13.1
websockets==15.0.1
huggingface-hub==0.36.0
charset-normalizer==3.4.4
deepspeed==0.17.2
MarkupSafe==2.1.5
rpds-py==0.30.0
jiter==0.12.0
py-cpuinfo==9.0.0
typing_extensions==4.15.0
torchvision==0.22.1+cu128
gitdb==4.0.12
idna==3.11
sympy==1.14.0
peft==0.17.1
importlib_metadata==8.7.1
ImageIO==2.37.2
tomli==2.0.1
jaraco.collections==5.1.0
zipp==3.19.2
inflect==7.3.1
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
typing_extensions==4.12.2
wheel==0.45.1
platformdirs==4.2.2
typeguard==4.3.0
backports.tarfile==1.2.0
packaging==24.2
autocommand==2.2.2
jaraco.context==5.3.0
more-itertools==10.3.0
